:root
{
    --blue-color:#0075ff;
    --blue-color-alt:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}
*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
*:focus
{
    outline: none;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
    padding: 0;
}

.page
{
    background-color: #f1f5f9;
    min-height: 100vh;
}
.content {
    overflow: hidden;
  }     




































.bg-blue
{
    background-color :var(--blue-color);
}
.bg-green
{
    background-color :var(--green-color);
}
.bg-orange
{
    background-color: var(--orange-color);
}
.bg-red
{
    background-color: var(--red-color);
}








.txt-c-my
{
    text-align :center;
}
@media (max-width767px)
{
    .txt-c-mobile
    {
        text-align :center;
    }
}












.btn-shape-my
{
    padding :4px 10px;
    border-radius :6px;
}
.between-flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex
{
    display :flex;
    align-items :center;
    justify-content :center;
}
.f-wrap
{
    flex-wrap: wrap;
}
.d-grid
{
    display :grid;
}
.d-block
{
    display: block;
}
.d-flex
{
    display :flex;
}
@media (max-width :767px)
{
    .block-mobile
    {
        display :block;
    }
    .hide-mobile
    {
        display: none;
    }
}
.gap-20
{
    gap :20px;
}
